

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 12% 8%;
    --foreground: 0 0% 98%;

    --card: 250 12% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 250 12% 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 330 59% 71%;
    --primary-foreground: 0 0% 98%;

    --secondary: 330 48% 63%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 8% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 330 59% 71%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 8% 16%;
    --input: 240 8% 16%;
    --ring: 330 59% 71%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    @apply bg-wip-dark text-wip-light font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-wip-pink to-wip-darkPink bg-clip-text text-transparent;
  }
  
  .gradient-bg {
    @apply bg-gradient-to-r from-wip-pink to-wip-darkPink;
  }
  
  .waveform-bg {
    background-color: rgba(231, 162, 200, 0.1);
  }
}
